[submodule "submodules"]
	path = submodules
	url = git@github.com:aws-quickstart/quickstart-ibm-cloud-private.git
[submodule "submodules/quickstart-ibm-cloud-private"]
	path = submodules/quickstart-ibm-cloud-private
	url = git@github.com:aws-quickstart/quickstart-ibm-cloud-private.git
