module mkfifo 1.0;

require {
        type nfs_t;
        type container_t;
        class fifo_file { create open read write unlink };
}

#============= container_t ==============
allow container_t nfs_t:fifo_file { create open read write unlink };